<!DOCTYPE html>
<html>
	<head>
	<title>VueJS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		<div class="root">
			<center>
			<h1> {{names[0]}} </h1> <p> By <b>{{authors[0]}}</b> </p>
			<p><b>{{dates[0]}}</b> in <b>{{language}}</b></p><hr>
			<h1> {{names[1]}} </h1> <p> By <b>{{authors[1]}}</b> </p>
			<p><b>{{dates[1]}}</b> in <b>{{language}}</b></p><hr>
			<p>Update Any Changes You Want.</p>
			<input type="text" id="text" v-model="names[0]"></input>
			<input type="text" id="text" v-model="authors[0]"></input>
			<input type="text" id="text" v-model="dates[0]"></input>
			<input type="text" id="text" v-model="language"></input> </br> </br>
			<input type="text" id="text" v-model="names[1]"></input>
			<input type="text" id="text" v-model="authors[1]"></input>
			<input type="text" id="text" v-model="dates[1]"></input>
			<input type="text" id="text" v-model="language"></input></center><hr>
		</div>
	
	
	<script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
	
	<script>

		new Vue ({
			el: '.root',
			data: book = 
			{
				names: ['Hamlet', 'A Boys Will'],
				authors: ['William Shakespeare', 'Robert Frost'],
				dates: ['1609', '1913'],
				language: 'English'
			}
		})
	</script>
	</body>
</html>