<!DOCTYPE html>
<html>
	<head>
    <title>VueJS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	
	<body>
		<div id="root">
			<center>
				<div v-for="book in books">
					<h1> {{ book.name }} </h1> 
					<p> By <b>{{ book.author }}</b> </p>
					<p><b>{{ book.date }}</b> in <b>{{ book.language }}</b></p>
					<input type="text" v-model="book.name">
					<input type="text" v-model="book.author">
					<input type="text" v-model="book.date">
					<input type="text" v-model="book.language"><hr>
				</div>
			</center>
		</div>
	
	
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>

    <script>

      new Vue({
        el:'#root',
        data: {
          books: [
            {
              name: 'Hamlet',
              author: 'William Shakespeare',
              date: '1609',
              language: 'English'
            },
            {
              name: 'A Boys Will',
              author: 'Robert Frost',
              date: '1913',
              language: 'English'
            }
          ]
        }
      })
	  </script>
	</body>
</html>
